* {
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: linear-gradient(45deg, #A88C7E, #D0F5F1);
    height: 100vh;
    color: #A88C7E;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#calc {
    color: #FFF6F2;
}

.calculadora {
    position: absolute;
    background-color: #6DA8A2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    border-radius: 15px;
    padding: 15px;
}

.botao {
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 25px;
    cursor: pointer;
    background-color: #A88C7E;
    border: none;
    color: #FFF6F2;
}

.botao:hover {
    background-color: #f5dcd0a5;
}

#igual {
   height: 106px; 
}

#zero {
    width: 106px;
}

#resultado {
    background-color: #FFF6F2;
    width: 207px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    font-size: 25px;
    color: #6DA8A2;
    text-align: right;
}